name: .NET

on:
  push:
    branches: [ main ]

  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet: [ '2.1.x', '5.0.x' ]
      
    - name: Build with dotnet
      run: dotnet build Erdcsharp.sln --configuration Release
      working-directory: src
      
    - name: Test
      working-directory: tests/Erdcsharp.Tests
      run: dotnet test --configuration Release --no-build --verbosity normal

    - name: Publish on nuget.org
      working-directory: src
      run: dotnet nuget push "**/*.nupkg" --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
    
    - name: Add github source package
      run: dotnet nuget add source --username Yann4460 --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/yann4460/index.json"

    - name: Publish on github
      working-directory: src
      run: dotnet nuget push "**/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source github --skip-duplicate
      
      
